<!DOCTYPE html>                                                                                                                               
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>StockScrapper</title>
</head>
<body>
    <header>
        <h1>StockScrapper</h1>
        <div></div>
    </header>
    <main>
	    <img src="" alt="">
	    <form action="/login" method="POST">
		<label for="email">Email</label>
		<input id ="email" type="text">
		<label for="pass">Senha</label>
		<input id ="pass" type="text">
		<label for="passconfirm">Confirmar Senha</label>
		<input id ="passconfirm" type="text">

		<input type="submit" value="Cadastrar-se">
	    </form>
    </main>
</body>
