<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/result" method="POST">
        <label for="link">link</label>
        <input id="link" name="link" type="text" placeholder="link" required>
        <label for="keyword">keyword</label>
        <input id="keyword" name="keyword" type="text" placeholder="palavra-chave" required>
        <input type="Submit">
        
    </form>
    <!--
    {% if link and keyword %}
        <p>

        </p>
        <p></p>
        {% endif %}
    -->
</body>
</html>