     <form action="/result" method="POST">
        <input id="keyword" name="keyword" type="text" placeholder="palavra-chave" required>
        <input id="buscar" type="Submit" value="Buscar">
    </form>
    <div class = "howTo">
        <div class = "titlehT">
            <h2>COMO USAR</h2>
            <span></span>
        </div>
        <span class = "steps">
            <div><h3>Passo 1:</h3><img src="{{url_for('static', filename='Group 17.svg')}}" alt=" "><p>Escolher os
                parâmetros e 
                digitar na barra de 
                busca.</p></div>
            <div><h3>Passo 2:</h3><img src="{{url_for('static', filename='submit 1.svg')}}" alt=" "><p>Clicar no botão de 
                bucscar.</p></div>
            <div><h3>Passo 3:</h3><img src="{{url_for('static', filename='newsletter 1.svg')}}" alt=" "><p>Veja os resultados                 
                e faça download das notícias que desejar.</p></div>
        </span>
    </div>

